.text {
  background: none;
  border: none;
  font-family: "maplestoryBold";
  color: #3e3e3e;
  outline: none;
  cursor: pointer;
}

.text:hover {
  color: #4e73df;
}

.selected {
  color: #4e73df;
}
