.inputBox {
  position: relative;
}

.settingWidgetTextInput {
  padding: 4px 40px 4px 7px;
  border: 2px solid #a5a5a5;
  border-radius: 5px;
  font-family: "maplestoryLight";
  font-size: 1.3rem;
  outline: none;
}

.settingWidgetTextInput:focus {
  border: 2px solid #4e73df;
}

.eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  cursor: pointer;
}

.view {
  top: 42%;
}
