.categorySelection {
  padding: 0px 17px 0px 17px;
  background: none;
  border: none;
  font-size: 2rem;
  font-family: "maplestoryBold";
  color: #3e3e3e;
  cursor: pointer;
}

.categorySelection:hover {
  color: #4e73df;
}

.selected {
  color: #4e73df;
}
