.input {
  padding: 4px 0px 4px 7px;
  border: 2px solid #a5a5a5;
  border-radius: 5px;
  font-family: "maplestoryLight";
  outline: none;
}

.input:focus {
  border: 2px solid #4e73df;
}

.input::-webkit-inner-spin-button {
  appearance: none;
}
