.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0px 40px 0px;
}

.pageSelection {
  background: none;
  border: none;
  font-size: 24px;
  font-family: "maplestoryLight";
  color: #555555;
  cursor: pointer;
}

.selected {
  color: #4e73df;
}

.pagenation > *:nth-child(n + 2) {
  margin-left: 25px;
}

.pageButton {
  border: none;
  background: none;
  font-family: "maplestoryLight";
  font-size: 1.5rem;
  cursor: pointer;
}

.pageSelection:checked,
.pageButton:checked {
  outline: none;
}
