.root {
  display: grid;
  grid-template-areas: ". product-manager tool ." ". product-manager tool .";
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  width: 100%;
  margin-top: 35px;
}
